.heading{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}
.all-content{
    display: grid;
  grid-template-columns:auto auto;
  border: 2px solid black;
  margin: 50px 0px;
}

.map-content{
    border: 2px solid black;
    padding: 20px;

}
.foreach-content{
    border: 2px solid black;
    padding: 20px;
}
.filter-content{
    border: 2px solid black;
    padding: 20px;
}
.find-content{
    border: 2px solid black;
    padding: 20px;
}
